<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="/img/img.jpg" alt=""><%= user.name %>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="<%= ssoUrl%>/modifyPassword?name=cw"> 修改密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        工单
                    </a>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        费用
                    </a>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        百科
                    </a>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        帮助
                    </a>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        消息
                        <span class="badge bg-red">1</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>